<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Employee</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="center">
      <input type="checkbox" id="show" />
      <label for="show" class="btn btn-success show-btn">View Form</label>

      <div class="container">
        <label for="show" class="close-btn fas fa-times" title="close"></label>
        <div class="text">Login Form</div>
        <form action="#">
          <div class="data">
            <label>Email or Phone</label>
            <input type="text" required />
          </div>
          <div class="data">
            <label>Password</label>
            <input type="password" required />
          </div>
          <div class="forgot-pass">
            <a href="#">Forgot Password?</a>
          </div>
          <div class="btn">
            <div class="inner"></div>
            <button type="submit">login</button>
          </div>
          <div class="signup-link">
            Not a member? <a href="#">Signup now</a>
          </div>
        </form>
      </div>
    </div>

    <!-- <button style="float: none" class="btn btn-success">
      <strong>+</strong> ADD EMPLOYEE
    </button> -->

    <!-- ------------------------------------ -->

    <div>
      <h3>READ</h3>
      <div id="text">
        Search:
        <input type="text" id="empnumInputBox" placeholder="Employee Number" />

        <button style="float: right" class="btn btn-success">
          <strong>+</strong> ADD EMPLOYEE
        </button>
      </div>

      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">EMPLOYEE NUMBER</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">MIDDLE NAME</th>
            <th scope="col">LAST NAME</th>
            <th scope="col">DEPARTMENT</th>
            <th scope="col">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.employeeNumber }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.middleName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.department }}</td>
            <td>
              <a
                href="https://www.w3schools.com/"
                target="_blank"
                class="btn btn-secondary"
                >UPDATE</a
              >
              &nbsp;
              <a
                href="https://www.w3schools.com/"
                target="_blank"
                class="btn btn-danger"
                >DELETE</a
              >&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div>
        <h3>CREATE</h3>

        <label for="empnum">Employee Number: </label>
        <input id="empnum" placeholder="Employee Number" #eNum /><br />

        <label for="fname">First Name: </label>
        <input id="fname" placeholder="First Name" #fName /><br />

        <label for="midname">Middle Name: </label>
        <input id="midname" placeholder="Middle Name" #mName /><br />

        <label for="lname">Last Name: </label>
        <input id="lname" placeholder="Last Name" #lName /><br />

        <label for="dept">Department: </label>
        <input id="dept" placeholder="Department" #dept /><br />
        <button
          (click)="
            addEmployee(
              eNum.value,
              fName.value,
              mName.value,
              lName.value,
              dept.value
            );
            eNum.value = '';
            fName.value = '';
            mName.value = '';
            lName.value = '';
            dept.value = ''
          "
        >
          CREATE
        </button>
      </div>

      <h3>UPDATE</h3>
      <label for="updateEmp">Employee Number: </label>
      <input id="updateEmp" placeholder="Employee Number" #updateEmp /><br />

      <label for="fname">First Name: </label>
      <input id="updateFname" placeholder="First Name" #updateFname /><br />

      <label for="midname">Middle Name: </label>
      <input
        id="updateMidname"
        placeholder="Middle Name"
        #updateMidname
      /><br />

      <label for="lname">Last Name: </label>
      <input id="updateLname" placeholder="Last Name" #updateLname /><br />

      <label for="dept">Department: </label>
      <input id="updateDept" placeholder="Department" #updateDept /><br />
      <button
        (click)="
          save(
            updateEmp.value,
            updateFname.value,
            updateMidname.value,
            updateLname.value,
            updateDept.value
          )
        "
      >
        SAVE
      </button>
    </div>
    <!-- <div>
    <h3>DELETE</h3>
    <label for="empDelete">Employee Number: </label>
    <input id="empDelete" placeholder="Employee Number" /><br />
    <button>DELETE</button>
  </div>
  </div> -->
  </body>
</html>
